// ==============================================
// Button styles
// ==============================================

.button {
  @include border-radius(10px);
  background: $green;
  border: 0;
  border-bottom: 3px solid darken($green, 15%);
  border-top: 2px solid transparent;
  color: $white;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding: 12px 20px 10px 54px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button::before {
  @include border-radius(99px);
  background: $white;
  content: '';
  height: 30px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.button::after {
  border-color: transparent transparent transparent $green;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  content: '';
  height: 0;
  left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

.button:hover,
.button:focus {
  box-shadow: 0 1px 3px darken($green, 20%);
  transform: translateY(-2px);
}

.button:active {
  background-color: darken($green, 15%);
}
