// ==============================================
// Button styles
// ==============================================

.button {
  @include border-radius(10px);
  background: $green;
  border: 0;
  border-bottom: 3px solid darken($green, 15%);
  color: $white;
  font-size: 20px;
  margin: 0;
  padding: 12px 20px 10px 54px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button::before {
  @include border-radius(99px);
  background: $white;
  content: '';
  height: 30px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.button::after {
  border-color: transparent transparent transparent $green;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  content: '';
  height: 0;
  left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

.button:hover {
  box-shadow: 0 0 10px blue(1);
}

// Modifiers

.button.mod-magnet {
  @include border-radius(7px);
  font-size: 17px;
  padding: 12px 16px 10px 50px;
}

.button.mod-magnet::before {
  height: 26px;
  left: 12px;
  width: 26px;
}

.button.mod-magnet::after {
  border-width: 6px 0 6px 9px;
  left: 22px;
}
