// ==============================================
// Button styles
// ==============================================

.button {
  @include border-radius(10px);
  background: $green;
  border: 0;
  border-bottom: 3px solid darken($green, 15%);
  color: $white;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 12px 20px 10px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  box-shadow: 0 1px 3px darken($green, 20%);
  transform: translateY(-2px);
}

.button:active {
  background-color: darken($green, 15%);
}

// Modifers

.button.mod-border {
  background: transparent;
  border: 3px solid $blue;
  color: $blue;
  font-size: 18px;
  padding: 8px 15px 7px;
  top: 2px;
}

.button.mod-icon {
  padding: 12px 20px 10px 54px;
}

.button.mod-icon::before {
  @include border-radius(99px);
  background: $white;
  content: '';
  height: 30px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.button.mod-icon::after {
  border-color: transparent transparent transparent $green;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  content: '';
  height: 0;
  left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

.button.mod-large {
  @include break(medium) {
    font-size: 23px;
    padding: 18px 40px 16px 74px;
  }
}

.button.mod-large::before {
  @include break(medium) {
    left: 22px;
  }
}

.button.mod-large::after {
  @include break(medium) {
    left: 34px;
  }
}
