// ==============================================
// Footer section styles
// ==============================================

.footer {
  padding: 20px;

  @include break(large) {
    align-items: center;
    display: flex;
    margin: auto;
    max-width: $large;
  }
}

  .footer-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0;

    @include break(large) {
      margin: 0 auto;
      width: 990px;
    }
  }

    .footer-list-item {
      color: $blue;
      flex: 1 0 50%;
      font-family: 'brandon-grotesque', sans-serif;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 0 10px;
      text-align: center;
      text-transform: uppercase;

      @include break(medium) {
        flex: 1 1 20%;
      }

      @include break(large) {
        text-align: left;
      }
    }

      .footer-list-item-link {
        border-bottom: 1px dashed blue(0.4);
        color: $blue;
        text-decoration: none;
      }

      .footer-list-item-link:hover {
        border-bottom: 1px solid blue();
      }

  .footer-logo {
    display: block;
    margin: auto;
    width: 50%;

    @include break(small) {
      width: 30%;
    }

    @include break(medium) {
      width: 140px;
    }

    @include break(large) {
      flex: 3 0 10%;
      padding: 0 10px;
    }
  }
