// ==============================================
// Header styles
// ==============================================

.header {
  background: $white;
  text-align: center;

  @include break(small) {
    display: flex;
    height: 60px;
    margin: 0 0 30px;
    text-align: left;
  }

  @include break(large) {
    margin-left: auto;
    margin-right: auto;
    width: 990px;
  }
}

  .header-logo {
    padding: 20px;
    width: 60%;

    @include break(small) {
      margin: 0 0 0 10px;
      padding: 10px;
      width: 160px;
    }
  }

  .header-faces {
    display: flex;
    margin: 20px 50px;
    position: relative;

    @include break(small) {
      flex: 1;
      margin: 0 0 0 40px;
      padding: 5px;
      text-align: right;
    }
  }

  .header-faces::before {
    content: 'Presented by:';
    display: block;
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-style: italic;
    opacity: 0.3;
    position: absolute;
    text-align: center;
    top: -26px;
    width: 100%;

    @include break(small) {
      flex: 2 0 100px;
      line-height: 46px;
      padding: 0 10px 0 0;
      position: static;
      text-align: right;
      width: auto;
    }
  }

    .header-faces-member {
      flex: 0 1 80px;
      margin: auto;
      padding: 10px 14px;

      @include break(small) {
        flex: 0 1 45px;
        padding: 4px;
      }
    }

      .header-faces-member-image {
        @include border-radius(99px);
        box-shadow: 0 0 4px blue(0.3);
        width: 100%;
      }
