// ==============================================
// Hero styles
// ==============================================

.hero {
  background: linear-gradient(0deg, $grey, $white);
  color: $blue;
  padding: 0 20px 30px;
  text-align: center;
}

  .hero-preheadline {
    display: inline-block;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0 20px;
    position: relative;

    @include break(medium) {
      font-size: 28px;
      margin-left: auto;
      margin-right: auto;
      max-width: $large;
    }

    @include break(large) {
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }

  .hero-preheadline::before,
  .hero-preheadline::after {
    border: 1px solid $blue;
    content: '';
    display: none;
    position: absolute;
    right: calc(100% - 10px);
    top: 50%;
    transform: translateY(-50%);
    width: 20px;

    @include break(medium) {
      display: block;
      width: 50px;
    }

    @include break(large) {
      width: 100px;
    }
  }

  .hero-preheadline::after {
    left: calc(100% - 10px);
    right: auto;
  }

  .hero-headline {
    font-family: 'Brandon Grotesque';
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.0625em;
    margin: 0 0 20px;
    padding: 0 20px;
    text-transform: uppercase;

    @include break(medium) {
      font-size: 40px;
      margin-left: auto;
      margin-right: auto;
      max-width: $large;
    }

    @include break(large) {
      padding-bottom: 20px;
    }
  }

  .hero-terms {
    font-size: 14px;
    opacity: 0.3;
  }
