// ==============================================
// Hidden text
// ==============================================

.hidden {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
}
