// ==============================================
// Integrations section styles
// ==============================================

.integrations {
  color: $blue;
  // display: flex;
  // flex-wrap: wrap;
  padding: 50px 20px;
  position: relative;
}

.integrations::after {
  border-color: $blue transparent transparent;
  border-style: solid;
  border-width: 7px 10px 0;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 0;
}

  .integrations-title {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include break(medium) {
      font-size: 30px;
      margin: 0 auto 40px;
      max-width: 600px;
    }
  }
