// ==============================================
// Integrations section styles
// ==============================================

.integrations {
  color: $blue;
  padding: 50px 20px;
  position: relative;

  @include break(large) {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.integrations::after {
  border-color: $blue transparent transparent;
  border-style: solid;
  border-width: 7px 10px 0;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 0;
}

  .integrations-title {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include break(medium) {
      font-size: 30px;
      margin: 0 auto 40px;
      max-width: 600px;
    }
  }

  .integrations-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
  }

    .integrations-list-item {
      align-items: center;
      background: $grey;
      border: 1px solid darken($grey, 5%);
      border-radius: 3px;
      color: $blue;
      display: flex;
      flex: 0 0 calc(25% - 20px);
      justify-content: center;
      margin: 10px;
      position: relative;

      @include break(medium) {
        flex: 0 0 calc(20% - 20px);
      }

      @include break(large) {
        flex: 0 0 calc(10% - 20px);
      }

      i {
        font-size: 40px;
        pointer-events: none;
      }

      img {
        height: 38px;
        pointer-events: none;
        width: 38px;
      }

      &:hover {
        .integrations-list-item-tooltip {
          opacity: 0.3;
        }
      }
    }

    .integrations-list-item::before {
      content: '';
      float: left;
      padding-top: 100%;

      @include break(medium) {
        padding-top: 50%;
      }

      @include break(large) {
        padding-top: 100%;
      }
    }

      .integrations-list-item-tooltip {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: $blue;
        display: none;
        font-family: 'proxima-nova', sans-serif;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: -26px;
        transform: translateX(-50%);
        transition: opacity 0.2s ease-in-out;
        white-space: nowrap;

        @include break(large) {
          display: block;
        }
      }

  .integrations-text {
    color: $blue;
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    opacity: 0.3;
    padding: 0;
    text-align: center;
  }

// Modifiers

.integrations-list-item.mod-ghost {
  img {
    height: 35px;
    width: 35px;
  }
}

.integrations-list-item.mod-instabuilder {
  img {
    height: 40px;
    width: 40px;
  }
}

.integrations-list-item.mod-kajabi {
  img {
    height: 35px;
    width: 35px;
  }
}

.integrations-list-item.mod-bottom {
  .integrations-list-item-tooltip {
    bottom: -26px;
    top: auto;
  }
}
