// ==============================================
// Magnet section styles
// ==============================================

.magnet {
  background: $blue;
  color: $white;
  padding: 50px 20px 40px;
  text-align: center;

  @include break(large) {
    background: $blue url('/images/checklist.png') no-repeat;
    background-position: -500px;
    background-size: 1200px auto;
  }
}

  .magnet-banner {
    background: $white;
    color: $blue;
    display: inline-block;
    font-family: 'Brandon Grotesque';
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 30px;
    padding: 7px 14px 5px;
    text-align: center;
    text-transform: uppercase;

    @include break(medium) {
      font-size: 15px;
    }
  }

  .magnet-title {
    font-family: 'Brandon Grotesque';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.075em;
    margin: 0 auto 10px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    @include break(medium) {
      font-size: 40px;
      margin-bottom: 0;
      max-width: $large;
    }

    @include break(large) {
      font-size: 50px;
    }
  }

  .magnet-subtitle {
    font-family: 'Brandon Grotesque';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.075em;
    margin: 0 auto 30px;
    opacity: 0.8;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    @include break(medium) {
      font-size: 24px;
      margin-bottom: 50px;
    }

    @include break(large) {
      font-size: 30px;
    }
  }

  .magnet-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: $large;
  }

  .magnet-graphic {
    flex: 1 0 100%;

    @include break(small) {
      flex: 1 1 33%;
    }

    @include break(medium) {
      align-items: center;
      display: flex;
    }
  }

    .magnet-graphic-icon {
      margin: 0 auto 40px;
      width: 70%;

      @include break(large) {
        width: 80%;
      }
    }

  .magnet-content {
    flex: 1 0 100%;
    margin: 0 0 20px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;

    @include break(small) {
      flex: 1 0 50%;
    }

    @include break(large) {
      margin-bottom: 30px;
      padding-right: 100px;
      padding-top: 10px;
    }
  }

    .magnet-content-title {
      border-bottom: 1px solid white(0.5);
      font-family: 'Proxima Nova';
      font-size: 26px;
      font-weight: 300;
      margin: 0 0 14px;
      padding: 0 0 14px;

      @include break(medium) {
        font-size: 30px;
      }
    }

    .magnet-content-subtitle {
      color: $orange;
      font-family: 'Brandon Grotesque';
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.075em;
      margin: 0 0 10px;
      text-transform: uppercase;
    }


    .magnet-content-list {
      list-style-type: none;
      margin: 0 0 20px 24px;
      padding: 0;
    }

      .magnet-content-list-item {
        font-family: 'Proxima Nova';
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.0625em;
        line-height: 18px;
        margin: 0 0 16px;
        padding: 0 0 0 16px;
        position: relative;

        @include break(medium) {
          font-size: 17px;
          line-height: 20px;
        }

        @include break(large) {
          line-height: 20px;
        }
      }

      .magnet-content-list-item::before {
        background: url('/images/proovi-p.png') no-repeat;
        background-position: left center;
        background-size: 16px;
        content: '';
        height: 16px;
        left: -14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
      }
