// ==============================================
// Timezones styles
// ==============================================

.timezones {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include break(large) {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
}

.timezones::after {
  border-color: $white transparent transparent;
  border-style: solid;
  border-width: 7px 10px 0;
  bottom: -7px;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

  .timezones-zone {
    flex: 1 0 25%;
    font-family: 'Brandon Grotesque';
    margin: 0;
    padding: 10px;
    text-align: center;

    @include break(large) {
      padding-bottom: 14px;
      padding-top: 14px;
    }
  }

    .timezones-zone-acronym {
      font-size: 16px;
      font-weight: 300;
      margin: 0;

      @include break(large) {
        font-size: 18px;
      }
    }

    .timezones-zone-time {
      font-size: 18px;
      font-weight: 700;

      @include break(large) {
        font-size: 20px;
      }
    }
