// ==============================================
// Base styles: Background, typography etc.
// ==============================================

html,
body {
  @include clearfix();
  box-sizing: border-box;
  min-width: 360px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  min-height: 0;
}
