// ==============================================
// Variable declaration
// ==============================================

// Responsive break points
$large:  990px;
$medium: 640px;
$small:  500px;
